 body, html{
    height:100%;
    margin:0;
    font-size:20px;
    font-family: 'Architects Daughter', cursive;
    font-weight:600;
    line-height:1.8em;
    color:#666;
    letter-spacing: 2px;
}

.title {
    height: 75px;
    font-size: 50px;
    text-align: center;
    margin-bottom: -25px;
    letter-spacing: 15px;
    font-family: 'Architects Daughter', cursive;
    padding-top: 35px;
    background-color:#f4f4f4;
    color: #6f5e5c;  
} 

.links-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color:#f4f4f4; 
} 

.nav-link {
    text-align: center;
   padding-bottom: 5px;
}   

.nav-link a {
  font-family: 'Architects Daughter', cursive;
    color: #6f5e5c;
    text-decoration: none;
    font-size: 20px;
    transition: all .4s ease;  
}

.nav-link a:hover {
  color:  rgb(90, 116, 108);
   letter-spacing: 3px;
    transition: 1s;
}


.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
}
  
.pimg1{
    background-image:url('st-john.jpg');
    min-height:100%;
}
  
.pimg2{
    background-image:url('wildflower.jpeg');
    min-height:400px;
}
  
.pimg3{
    background-image:url('coding1.jpeg');
    min-height:400px;
}
  
.section{
    text-align:center;
    padding:50px 80px;
}
  
.section-light{
    background-color:#f4f4f4;
    color:#666;
}
  
.section-dark{
    background-color: #614e4c;
    color:#ddd;
}
  
.ptext{
    position:absolute;
    padding-left: 5%;
    top:50%;
    width:100%;
    text-align:left;
    color:#f4f4f4;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
    text-decoration: underline;
 }

.ptext a {
    font-family: fantasy;
    color: #f4f4f4;
    text-decoration: none;  
}

.ptext a:hover {
   letter-spacing: 10px;
   transition: 1s;
}
  
.ptext .border{
    background-color: #614e4c;
    padding:20px;
}
  
.ptext .border.trans{
    background-color:transparent;
 } 
  
.contact-container {
    margin-inline: auto;
    min-height: 50px;
    min-width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    background-color: #f4f4f4;
    height: 60px;
    bottom: 0;
}

.link-wrapper {
    margin-inline: auto;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact-link a i {
    padding: 1px 100px 1px 100px;
    text-align: center;
    text-decoration: none;
    color: #6f5e5c;
}

.contact-link a i:hover {
    color:  rgb(90, 116, 108);
    text-decoration: none;
    transform: scaleX(1.25);
    transition: 1s;   
}

.about-me {
  padding-left: 25px;
  line-height: 21px;
  font-family:'Architects Daughter', cursive;
  font-size: 16px;
  padding-right: 25px;
}

.element-to-stick-to-bottom {
  position: absolute;
  bottom: 0;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ffffff;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
  font-family: 'Fjalla One', serif;
  outline: none;
}

input[type=text]:focus {
  border: 5px solid #ffffff; 
  outline: none;
}
input[type=submit] {
  background-color: #666;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Fjalla One', serif;
}

input[type=submit]:hover {
  background-color: rgb(90, 116, 108);
    text-decoration: none;
    transform: scaleX(1.25);
    transition: 1s;
}

.contact-flex {
display: flex;
align-items: center;
}

.contact {
  border-radius: 5px;
  background-color: #b4a9a8;
  padding: 20px;
  font-family: 'Fjalla One', serif;
  width: 60%;
  margin: 20px 20px 20px 20px;
}

.lets-connect img {
  height: 500px;
  margin: 40px 40px 30px 20px;
  border-radius: 5px;
}

.quote {
  padding-left: 20px;
  padding-top: 20px;
  line-height: 40px;
  padding-bottom: 40px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 55px;
}

#myData{
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
}

.card{
    background-image: url(wall.jpeg);
    background-color: bei#f4f4f4;
}
.card-1{
  display: inline-block;
  margin-left: 90px;
}
.card-2{
  display:inline-block;
  margin-left: 440px;
}


.flip-box {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}
  .proj{
    margin: 10px 30px 0px 30px;
  }
  
  